body {
	font-family: 'Inter';
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 2rem;
	font-weight: 400;
}

.wlimit {
	width: 100%;
	max-width: 1440px;
	box-sizing: border-box;
	padding-inline: 12px;
}

#tasks {
	padding-left: 0;
}

.task {
	padding: 8px 12px;
	display: flex;
	gap: 12px;
}

.task .vert {
	display: flex;
	flex-direction: column;
}

.task .desc {
	font-size: 1.5rem;
}

.task .id {
	font-family: monospace;
	font-size: 0.75rem;
}